
#portal-globalnav ul li a {
    border-top: none;
    border-right: none;
}

#portal-globalnav li > div.drop {
    display:none;
    left:0;
    position:absolute;
    top:100%;
    z-index:1000;
}

#portal-globalnav li:hover > div.drop,
#portal-globalnav li:hover > div.drop > ul {
    display:block;
}

#portal-globalnav li div.drop > ul{
    top:0;
    float: left;
    width: 15em;
    position: static;
}

#portal-globalnav > li > div.drop {
    background-color: #DDD;
    width: 35em;
}

#portal-globalnav > li > div.drop div.static{
    float: left;
    width: 15em;
    padding: 10px;
}

#portal-globalnav ul li a.hasChildrens,
#portal-globalnav ul li a.hasChildrens:hover {
    background-image: none;
}

#portal-globalnav > li.right > div.drop{
    left: inherit;
    right: 0;
}

#portal-globalnav li div.drop.left > ul {
    float: right;
}


#portal-globalnav li div.static li,
#portal-globalnav li div.static li:hover{
    display: list-item;
    position: relative;
    margin-bottom: 0.25em;
    line-height: 1.5em;
    list-style-type: disc;
}

#portal-globalnav li div.static li:hover a{
    background-color: transparent;
    color: #205C90;
}

#portal-globalnav li div.static a,
#portal-globalnav li div.static a:hover{
    background-color: transparent;
    color: #205C90;
    display:inline;
    line-height: 1.5em;
    min-width: auto;
    border-right: none;
    padding: 0;
}

#portal-globalnav li div.static a:hover{
    color: #75AD0A !important;
}

#portal-globalnav li div.static ul{
    display: block;
    position: relative;
    list-style-type: disc;
    margin-left: 2em;
}